<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="dao.face.MtBoardDao">

	<select id="CntMtBaord" resultType="int" parameterType="map">
		SELECT count(*) FROM (
			SELECT rownum rnum, B.* 
			FROM (
			SELECT n.mtboard_no, m.member_nick, n.field, n.jobduty, n.jobgroup, n.career
				   , n.mtboard_title, n.mtboard_content , n.mtboard_cmcnt , n.mtboard_hit 
				   , n.mtboard_date, n.co_name, n.mt_price
				   ,  ( SELECT count(*) FROM mtmark MK WHERE N.mtboard_no = MK.mtboard_no ) mark_cnt
			FROM mtboard n 
			JOIN member m
			ON ( n.member_no = m.member_no )
			WHERE
				1=1
			<if test="type != null and type != 'tc'">
				AND ${type} like  '%' ||  #{keyword} || '%'
			</if>
			<if test="type == 'tc'">
				AND mtboard_title like '%' ||  #{keyword} || '%'
				OR mtboard_content like '%' ||  #{keyword} || '%'
			</if>
			<if test="field != null">
				AND field = #{field}
			</if>
			 )  B
		) MtBoard
	</select>

	<select id="MtBoardList" resultType="hashmap" parameterType="map">
		SELECT * FROM (
			SELECT rownum rnum, B.* 
			FROM (
			SELECT n.mtboard_no, m.member_nick, n.field, n.jobduty, n.jobgroup, n.career
				   , n.mtboard_title, n.mtboard_content , n.mtboard_cmcnt , n.mtboard_hit 
				   , n.mtboard_date, n.co_name, n.mt_price
				   ,  ( SELECT count(*) FROM mtmark MK WHERE N.mtboard_no = MK.mtboard_no ) mark_cnt
			FROM mtboard n 
			JOIN member m
			ON ( n.member_no = m.member_no )
			WHERE
				1=1
			<if test="type != null and type != 'tc'">
				AND ${type} like  '%' ||  #{keyword} || '%'
			</if>
			<if test="type == 'tc'">
				AND mtboard_title like '%' ||  #{keyword} || '%'
				OR mtboard_content like '%' ||  #{keyword} || '%'
			</if>
			<if test="field != null">
				AND field = #{field}
			</if>
			ORDER BY ${sort} DESC
			 )  B
		) MtBoard
		WHERE rnum BETWEEN #{startNo } AND #{endNo }
	</select>
	
	<select id="MtBoardListPaging" resultType="hashmap" parameterType="util.PagingVUp">
		SELECT * FROM (
			SELECT rownum rnum, B.* 
			FROM (
			SELECT n.mtboard_no, m.member_nick, n.field, n.jobduty, n.jobgroup, n.career
				   , n.mtboard_title, n.mtboard_content , n.mtboard_cmcnt , n.mtboard_hit 
				   , n.mtboard_date, n.co_name, n.mt_price
				   , ( SELECT count(*) FROM mtmark MK WHERE N.mtboard_no = MK.mtboard_no ) mark_cnt
					FROM mtboard n 
					JOIN member m
					ON ( n.member_no = m.member_no )
					ORDER BY mtboard_date DESC
			 )  B
		) MtBoard
		WHERE rnum BETWEEN #{startNo } AND #{endNo }
	</select>
	
	<!-- 여기까지 -->
	<update id="mtBoardHit" parameterType="int">
		UPDATE mtboard
		SET mtboard_hit = mtboard_hit + 1
		WHERE mtboard_no = #{mtboardNo}
	</update>
	
	<select id="selectMtBoard" resultType="hashmap" parameterType="int">
			SELECT n.mtboard_no, m.member_nick, m.member_no, n.field, n.jobduty, n.jobgroup, n.career
				   , n.mtboard_title, n.mtboard_content , n.mtboard_cmcnt , n.mtboard_hit 
				   , n.mtboard_date, n.co_name, n.mt_price, m.member_id
				   , ( SELECT count(*) FROM mtmark MK WHERE N.mtboard_no = MK.mtboard_no ) mark_cnt
			FROM mtboard n 
			JOIN member m
			ON (n.member_no = m.member_no)
		WHERE mtboard_no = #{mtboardNo}
	</select>
	
	<insert id="insertBoard" parameterType="dto.MtBoard">
		<selectKey order="BEFORE" resultType="int" keyProperty="mtboardNo">
			SELECT mtboard_seq.nextval FROM dual		
		</selectKey>
		
		INSERT INTO mtboard (
			mtboard_no, member_no, field, jobduty, jobgroup, career
			, mtboard_title, mtboard_content, mtboard_hit
			, mtboard_date, co_name, mt_price
		)
		
		VALUES (
			#{mtboardNo }, #{memberNo }, #{field }, #{jobDuty }, #{jobGroup }
			, #{career }, #{mtboardTitle }, #{mtboardContent }, #{mtboardHit }
			, sysdate, #{coName}, #{mtPrice}	
		)
	</insert>

	<insert id="insertFile" parameterType="dto.FileUpload">
		INSERT INTO fileUpload (
			fileUpload_no, mtboard_no, fileUpload_ori, fileUpload_stor )
		
		VALUES ( fileUpload_seq.nextval, #{mtBoardNo }
				, #{fileUploadOri }, #{fileUploadStor }
		)
	</insert>
	
	<select id="selectMtBoardFileByBoardNo" resultType="FileUpload" parameterType="int">
		SELECT fileupload_no, mtboard_no, fileupload_ori, fileupload_stor
		FROM   fileupload
		WHERE  mtboard_no = #{mtboardNo }
	</select>
	
	<select id="selectBoardFileByFileNo" resultType="FileUpload" parameterType="dto.FileUpload">
		SELECT fileupload_no, mtboard_no, fileupload_ori, fileupload_stor
		FROM   fileupload
		WHERE  fileupload_no = #{fileUploadNo }
	</select>
	
	<update id="updateMtBoard"  parameterType="dto.MtBoard">
		UPDATE mtboard
	   	SET    co_name = #{coName}
	    	 , mt_price = #{mtPrice}
		     , mtboard_title = #{mtboardTitle}
			 , mtboard_content = #{mtboardContent}
		WHERE mtboard_no = #{mtboardNo}
	</update>
	
	
	<!-- 게시글 삭제 -->
	<delete id="deleteComtByMtBoardNo" parameterType="dto.MtBoard">
		DELETE mtreview 
		WHERE mtboard_no = #{mtboardNo}
	</delete>
	
	<delete id="deleteMarkByMtBoardNo" parameterType="dto.MtBoard">
		DELETE mtmark
		WHERE mtboard_no = #{mtboardNo}
	</delete>
	
	<delete id="deleteApplyByMtBoardNo" parameterType="dto.MtBoard">
		DELETE applymnt
		WHERE mtboard_no = #{mtboardNo}
	</delete>
	
	<delete id="deleteFile" parameterType="dto.MtBoard">
		DELETE fileupload
		WHERE  mtboard_no = #{mtboardNo}
	</delete>
	
	<delete id="deleteMtBoard" parameterType="dto.MtBoard">
		DELETE mtboard
		WHERE mtboard_no = #{mtboardNo}
	</delete>
	
	<!-- 게시판 리스트 리뷰수 -->
	<update id="mtBoardReview" parameterType="dto.MtBoard">
		UPDATE mtboard m
		SET m.mtboard_cmcnt = 
		(SELECT COUNT(mtreview_no) FROM mtreview WHERE mtboard_no = #{mtboardNo})
		WHERE m.mtboard_no = #{mtboardNo}
	</update>
	
	
	<!-- 게시판 리스트 좋아요수 -->
	<update id="mtBoardMark" parameterType="dto.MtBoard">
		UPDATE mtboard m
		SET m.mark_cnt = 
		(SELECT COUNT(mtmark_no) FROM mtmark WHERE mtboard_no = #{mtboardNo})
		WHERE m.mtboard_no = #{mtboardNo}
	</update>


 
	<!-- 좋아요 -->
	<select id="selectCntMark" parameterType="dto.MtMark" resultType="int">
		SELECT count(*)
		FROM mtmark
		WHERE mtboard_no = #{mtboardNo}
			AND member_no = #{memberNo }
	</select>
	
	<select id="getTotalCntMark" parameterType="dto.MtMark" resultType="int">
		SELECT count(*)
		FROM mtmark
		WHERE member_no = #{memberNo }
	</select>
	
	<delete id="deleteMark" parameterType="dto.MtMark">
		DELETE mtmark
		WHERE member_no = #{memberNo }
			AND mtboard_no = #{mtboardNo}
	</delete>
	
	<insert id="inserMark" parameterType="dto.MtMark">
		INSERT INTO mtmark (mtmark_no, mtboard_no, member_no)
		VALUES (mtmark_seq.nextval, #{mtboardNo }, #{memberNo })
	</insert>
	
	
	
	<!-- 검색 -->
	
	<select id="getSearchList" parameterType="hashMap" resultType="hashmap">
		SELECT n.mtboard_no, m.member_nick, n.field, n.jobduty, n.jobgroup, n.career
				   , n.mtboard_title, n.mtboard_content , n.mtboard_cmcnt , n.mtboard_hit 
				   , n.mtboard_date, n.co_name, n.mt_price
				   ,  ( SELECT count(*) FROM mtmark MK WHERE N.mtboard_no = MK.mtboard_no ) mark_cnt
			FROM mtboard n 
			JOIN member m
			ON ( n.member_no = m.member_no )
		WHERE
			<foreach collection="list" item="list" separator="AND">
				<choose>
					<when test="list == 'mtBoardTitle'.toString()">
						n.mtboard_title like '%'||#{keyword}||'%'
					</when>
					<when test="list == 'mtBoardContent'.toString()">
						n.mtBoard_content like '%'||#{keyword}||'%'
					</when>
					<when test="list == 'memberNo'.toString()">
						m.member_nick like '%'||#{keyword}||'%'
					</when>
				</choose>
			</foreach>
			ORDER BY mtBoard_no desc ) B
		) mtboard
	WHERE rnum BETWEEN #{startNo} AND #{endNo}	
	</select>
	
	<select id="cntSearchList" resultType="int">
		SELECT count(*) 
		FROM mtboard n
		JOIN  member m
		ON (n.member_no = m.member_no)
		WHERE
		<foreach collection="list" item="list" separator="AND">
			<choose>
				<when test="list == 'mtBoardTitle'.toString()">
					n.mtboard_title like '%'||#{keyword}||'%'
				</when>
				<when test="list == 'mtBoardContent'.toString()">
					n.mtBoard_content like '%'||#{keyword}||'%'
				</when>
				
				<when test="list == 'memberNo'.toString()">
					m.member_nick like '%'||#{keyword}||'%'
				</when>
			</choose>
		</foreach>
		
	</select>
	
	
	<!-- 멘토지원 -->	
	
	<!-- 멘토지원 유저 정보 불러오기 -->
	 <select id="getIdByMemberNo" parameterType="int" resultType="String">
		SELECT member_id 
		FROM member 
		WHERE member_no = #{memberNo}
	</select>
	
	<select id="getEmailByMemberNo" parameterType="int" resultType="String">
		SELECT member_email 
		FROM member 
		WHERE member_no = #{memberNo}
	</select>
	
	<select id="getNameByMemberNo" parameterType="int" resultType="String">
		SELECT member_name
		FROM member 
		WHERE member_no = #{memberNo}
	</select>
	
	<select id="getPhoneByMemberNo" parameterType="int" resultType="String">
		SELECT member_phone
		FROM member 
		WHERE member_no = #{memberNo}
	</select>
	
	<select id="getNickByMemberNo" parameterType="int" resultType="String">
		SELECT member_nick
		FROM member 
		WHERE member_no = #{memberNo}
	</select>
	
	<insert id="applyMt" parameterType="dto.ApplyMt">
		INSERT INTO applyMt (applymt_no, member_no, field, applymt_content, applymt_date)
		VALUES (applymt_seq.nextval, #{memberNo }, #{field }, #{applymtContent}, sysdate)
	</insert>
	
	<insert id="applyMnt" parameterType="map">
		INSERT INTO applymnt (applymnt_no, mtboard_no, member_no, sttime, edtime, mnt_date, mnt_content, total_price, mnt_paydate)
		VALUES(	APPLYMNT_SEQ.nextval, #{mtboardNo}, #{memberNo}, #{stTime}, #{edTime}, #{mntDate}, #{mntContent}, #{totalPrice}, sysdate)
	</insert>

	<!-- 리뷰  -->
	<select id="CntReview" parameterType="dto.MtReview" resultType="int">
        SELECT count(*) 
        FROM mtreview
        WHERE mtboard_no = #{mtboardNo}
    </select>
    	
	<insert id="writeReview" parameterType="dto.MtReview">
		INSERT INTO mtreview 
		VALUES( mtreview_seq.nextval, #{mtboardNo}, #{memberNo}, #{mtreviewContent}, sysdate, #{mtreviewScore} )
	</insert>
	
	<select id="isBuyer" resultType="int" parameterType="map">
		SELECT count(*) 
		FROM applymnt
		WHERE mtboard_no = #{mtboardNo}
		AND member_no = #{memberNo}
		AND total_price is not null
	</select>
	
	<select id="getReviewList" parameterType="int" resultType="map">
		SELECT r.*, m.member_nick nickname
	    FROM mtreview r
	    JOIN member m 
	    ON r.member_no = m.member_no
	    WHERE mtboard_no = #{mtboardNo} 
	</select>
	
	<update id="updateReview"  parameterType="dto.MtReview">
		UPDATE mtreview
		SET mtreview_content = #{mtreviewContent},
			mtreview_score = #{mtreviewScore}
		WHERE
			mtreview_no = #{mtreviewNo}	
	</update>
	
	<select id="isWrite" parameterType="map" resultType="int">
		SELECT count(*) 
		FROM mtreview 
		WHERE member_no=#{memberNo} AND mtreview_no = #{reviewNo}
	</select>

	<delete id="deleteReview" parameterType="int">
		DELETE from mtreview 
		WHERE mtreview_no = #{reviewNo}	
	</delete>

</mapper>























