<?xml version="1.0" encoding="UTF-8"?>
<!-- 마이바티스 3 Mapper DTD -->
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.face.MypageDao">

    <!-- 회원정보 수정 -->
    <update id = "userUpdate" parameterType="member">
        update MEMBER
        set member_pw = #{memberPw}, member_name = #{memberName}, member_phone = #{memberPhone}, 
       		member_email = #{memberEmail}, member_nick = #{memberNick}
        where member_no = #{memberNo}
    </update>
    
	<!-- 프로필 사진 가져오기 -->
	<select id="selectProfile" resultType="dto.FileUpload" parameterType="int">
		SELECT F.* FROM member M, fileupload F
			WHERE m.member_no = f.member_no
			and m.member_no = #{memberNo} 
			and fboard_no is null and mtboard_no is null and mntboard_no is null and sroom_no is null
	</select>		
	
    <!-- 회원 탈퇴 -->
	<update id="withdrawal" parameterType="member">
		update member
		set withdrawal = 'Y' 
		where member_no = #{memberNo}
	</update>
	
	<!-- 탈퇴시 비밀번호 확인  -->
	<select id="checkPw" parameterType="member" resultType="int">
		select count(*) from member where member_no = #{memberNo} and member_pw = #{memberPw} 
	</select>
	
    <!-- 프로필 사진 생성 -->
	<insert id="insertProfile" parameterType="map">
		INSERT INTO fileUpload (fileUpload_no, member_no, fileUpload_ori, fileUpload_stor )
		VALUES (fileUpload_seq.nextval, #{memberNo}, #{fileUploadOri}, #{fileUploadStor})
	</insert>
	
	<!-- 프로필 사진 업데이트 -->
	<select id="updateProfile" parameterType="dto.FileUpload">
		update fileUpload
			set fileUpload_ori = #{fileUploadOri},
			fileUpload_stor = #{fileUploadStor}
		where member_no = #{memberNo}
	</select>		
	
	<!-- 예약 목록 조회 -->
	   <select id='reservationlist' resultType='hashmap'>
        select * 
		 from studyroom s
		 join reservation r on s.sroom_no = r.sroom_no
		 join member m on r.member_no = m.member_no
		 join fileupload f on s.sroom_no = f.sroom_no
		where m.member_id = #{id} 
		order by r.reserve_no desc
   		</select>

	<!-- 쪽지함 조회 -->
		<select id='messagelist' resultType='hashmap'>
		select *
		from message s
		join member m on s.member_no = m.member_no 
		join fileupload f on s.member_no = f.member_no
		where m.member_id = #{id} 
		and f.fboard_no is null 
        and f.mtboard_no is null 
        and f.mntboard_no is null 
        and f.mboard_no is null 
        and f.sroom_no is null
		order by s.member_no desc
   		</select>
   		
   	<!-- 위시리스트 조회 -->
   		<select id='wishlist' resultType='hashmap'>
		select *
		from studymark sm
		join member m on sm.member_no = m.member_no
        left join reservation r on m.member_no = r.member_no
        left join studyroom sr on r.sroom_no = sr.sroom_no
		left join fileupload f on sr.sroom_no = f.sroom_no
        left join studyboard s on sm.member_no = s.member_no
        left join mtmark mm on sm.member_no = mm.member_no
        left join mtboard mb on sm.member_no = mb.member_no
        left join sroommark rm on sm.member_no = rm.member_no


        order by s.member_no desc
   		</select>

	<select id="studyroomWish" resultType="hashmap" parameterType="int">
		 select * from sroommark sm
        join member m on sm.member_no = m.member_no
        join studyroom sr on sm.sroom_no = sr.sroom_no
        left join fileupload f on sr.sroom_no = f.sroom_no
        where sm.member_no = #{memberNo}
	</select>


	<select id="studyWish" resultType="hashmap" parameterType="int">
		select * from studymark sm
        join member m on sm.member_no = m.member_no
        join studyboard sb on sm.study_no = sb.study_no
       left join fileupload f on sb.member_no = f.member_no and f.fboard_no is null and  mtboard_no is null and mntboard_no is null and mboard_no is null and sroom_no is null
        where sm.member_no = #{memberNo}
	</select>
	
	
	<select id="mentorWish" resultType="hashmap" parameterType="int">
		select * from mtmark mk
        join mtboard mb on mk.mtboard_no = mb.mtboard_no
        join member mt on mb.member_no = mt.member_no
       left join fileupload f on mt.member_no = f.member_no
       and f.fboard_no is null
       and  f.mtboard_no is null and f.mntboard_no is null and f.mboard_no is null and f.sroom_no is null
        where mk.member_no = #{memberNo}
	</select>


	<!-- 마이스터디 조회 -->
	<select id='mystudy' resultType='hashmap' parameterType="String">
	select m.member_no, s.study_no, sb.study_title, sb.study_content, sb.study_tag
	from member m
	JOIN applyStudy s
	ON m.member_no = s.member_no
	JOIN studyBoard sb
	on s.study_no = sb.study_no
	where m.member_id = #{id}
	</select>
	
	<select id="myMentoList" resultType="hashmap" parameterType="String">
		SELECT m.member_no, m.member_id, mt.mtboard_no, mt.field, mt.mtboard_title, mt.mtboard_content    
		FROM applyMnt a
		JOIN member m
		ON m.member_no = a.member_no
		JOIN mtboard mt
		ON mt.mtboard_no = a.mtboard_no
		WHERE m.member_id = #{id}
	</select>
	
	<!-- 좋아요리스트 조회 -->
	<select id='mlikelist' resultType='hashmap' parameterType="String">
		SELECT distinct m.member_no, ml.mlike_no, ml.mboard_no, mb.mboard_title,
		mb.mboard_content, f.fileupload_stor
		FROM mboardlike ml
		join fileupload f on ml.member_no = f.member_no
		join member m on m.member_no = ml.member_no
		join mboard mb on ml.member_no = mb.member_no
		where m.member_id = #{id}
	</select>
	
	<select id='mntikelist' resultType='hashmap' parameterType="String">
		SELECT distinct m.member_no, nb.member_no, nl.mntboardlike_no, nb.mntboard_title, nb.mntboard_content, f.fileupload_stor, nb.field
	 	 FROM mntboardlike nl
	    join member m on m.member_no = nl.member_no
	    join mntboard nb on nb.mntboard_no = nl.mntboard_no
	    join fileUpload f on f.member_no = nb.member_no
	    where m.member_id = #{id}
	</select>
	
	
	
	


</mapper>